.back_button {
    position: absolute; /* Positions the button relative to its nearest positioned ancestor */
    top: 10px; /* Move it 10px from the top of the page */
    left: 10px; /* Move it 10px from the left of the page */
    background: white;
    border: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    cursor: pointer; /* Add a pointer cursor for interactivity */
}

.back_button_image {
    padding: 0;
    border: 0;
    width: 40px; /* Make the image fill the button */
    height: 40px; /* Make the image fill the button */
}